body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

#mycanvas {
    background-color: black;
    margin-top: 10rem;
}

.logo {
    height: 100px;
    width: 100px;
}